<app-form-project [proyecto]="proyecto"></app-form-project>
<a class="btn btn-primary mr-3" type="button" (click)="actualizar()" tabindex="3">Guardar</a><a class="btn btn-danger" type="button" (click)="borrar()" tabindex="4">Borrar</a>
<div class="mt-3">
  <section *ngIf="mensaje">
    <div class="alert alert-{{ mensaje.exito ? 'success' : 'danger' }}" role="alert">
      {{ mensaje.texto }}
      <!--{{ mensaje$ | async | json }}-->
    </div>
  </section>
  <!-- CON IF ELSE <section *ngIf="!mensaje; else mensajeAlert">
    <div class="alert" role="alert">
      Sin mensajes pendientes
    </div>
  </section>
  <ng-template #mensajeAlert>
    <div class="{{ mensaje.clase }}" role="alert">
      texto {{ mensaje.texto }}
    </div>
</ng-template>-->
</div>
